<mat-toolbar color="primary">
    <a
    [routerLink]="'/'"
    mat-icon-button
    class="example-icon"
    arial-label="Example icon-button with menu icon"
  >
    <mat-icon svgIcon="fisioterapia"></mat-icon>
  </a>
  <span>Portal de Seguimiento</span>
  <span class="example-spacer"></span>



<a
  *ngIf = "login.isLoggedIn()"
  (click) = "logout()"
  style="margin-right: 50px"
  mat-icon-button
  class="example-icon favorite-icon"
  aria-label="Example icon-button with heart icon"
>
  Cerrar sesión
</a>

<button
    *ngIf = "isLoggedIn && user"
    mat-button
    style="margin-right: 10px"
    class="example-icon favorite-icon"
    aria-label="Example icon-button with heart icon"
    routerLink="/admin"
    >
    {{ user.username }}
  </button>

</mat-toolbar>
