<mat-card class="dashboard-card">
    <mat-action-list>
      <div mat-subheader>Menu</div>
      <button routerLink = "/admin" mat-list-item>
        <mat-icon mat-list-icon>home</mat-icon> Crear usuario
      </button>
      <button mat-list-item routerLink = "/admin/profile">
        <mat-icon mat-list-icon>account_circle</mat-icon>Programar sesión
      </button>
      <button mat-list-item routerLink = "/admin/pacientes">
        <mat-icon mat-list-icon>list</mat-icon>Asignar ejercicios
      </button>
      <button mat-list-item routerLink = "/admin/notas">
        <mat-icon mat-list-icon>list</mat-icon>Adicionar nota
      </button>
      <button routerLink = "/admin" mat-list-item>
        <mat-icon mat-list-icon>home</mat-icon> Tratar lesión
      </button>
      <button routerLink = "/admin" mat-list-item>
        <mat-icon mat-list-icon>home</mat-icon> Seguimiento
      </button>
    </mat-action-list>
</mat-card>
