<mat-toolbar color="primary">
        <button mat-icon-button *ngIf="sidenav.mode === 'over'" (click)="sidenav.toggle()">
          <mat-icon *ngIf="!sidenav.opened">
            menu
      
          </mat-icon>
          <mat-icon *ngIf="sidenav.opened">
            close
          </mat-icon>   
        </button>

        <a
        [routerLink]="'/'"
        mat-icon-button
        class="example-icon"
        arial-label="Example icon-button with menu icon"
      >
        <mat-icon svgIcon="fisioterapia"></mat-icon>
      </a>
      <span>Portal de Seguimiento</span>
      <span class="example-spacer"></span>
    
      <a
      *ngIf = "login.isLoggedIn()"
      (click) = "logout()"
      style="margin-right: 50px"
      mat-icon-button
      class="example-icon favorite-icon"
      aria-label="Example icon-button with heart icon"
      >
      Cerrar sesión
      </a>
    
      <button
        *ngIf = "isLoggedIn && user"
        mat-button
        style="margin-right: 10px"
        class="example-icon favorite-icon"
        aria-label="Example icon-button with heart icon"
        routerLink="/fisioterapeuta"
        routerLinkActive="active"
        >
        {{ user.username }}
      </button>
    
    
    

      </mat-toolbar>
    
    
    
    <mat-sidenav-container class="dashboard-card">
        <mat-sidenav #sidenav="matSidenav">
          <div mat-subheader><h2>Menú</h2></div>
          <button class="button" mat-list-item  routerLink = "/fisioterapeuta/crear" mat-list-item>
            <mat-icon svgIcon="usuario"></mat-icon> &nbsp;&nbsp;Crear usuario
          </button>

          <button class="button" mat-list-item routerLink = "/fisioterapeuta/sesiones">
            <mat-icon svgIcon="calendar"></mat-icon> &nbsp;&nbsp;Crear sesión
          </button>
    
          <button class="button" mat-list-item routerLink = "/fisioterapeuta/asignar">
            <mat-icon svgIcon="asignar"></mat-icon> &nbsp;&nbsp;Asignar ejercicios
          </button>
    
          <button class="button" mat-list-item routerLink = "/fisioterapeuta/notas">
            <mat-icon svgIcon="nota"></mat-icon> &nbsp;&nbsp;Adicionar nota
          </button>
    
          <button class="button" routerLink = "/fisioterapeuta/lesion" mat-list-item>
            <mat-icon svgIcon="lesion"></mat-icon> &nbsp;&nbsp;Tratar lesión
          </button>
    
          <button class="button" routerLink = "/fisioterapeuta/seguimiento" mat-list-item>
            <mat-icon svgIcon="seguimiento"></mat-icon> &nbsp;&nbsp;Seguimiento
          </button>
    
    
        </mat-sidenav>
        <mat-sidenav-container>
          <div class="content">
          <router-outlet></router-outlet>
        </div>
        </mat-sidenav-container>
    </mat-sidenav-container>





