<mat-toolbar color="primary">
  <a
  mat-icon-button
  class="example-icon"
  arial-label="Example icon-button with menu icon"
>
  <mat-icon svgIcon="fisioterapia"></mat-icon>
</a>
<span>Portal de Seguimiento</span>
<span class="example-spacer"></span>

</mat-toolbar>




<div class = "bootstrap-wrapper">
    <div class = "container">
       <div class="row mt20">
            <div class="col-md-6 offset-md-3">
                <mat-card>
                    <div class="container text-center">
                        <img src="../../../assets/icon.png" width="100" height="100">
                    </div>

                    <h1 class = "text-center">Cambiar contraseña</h1>
                    <form (ngSubmit) = "formSubmit()">
                        <mat-form-field class = "full-width"  appearance = "outline">
                          <mat-label>Escribe la nueva contraseña </mat-label>
                          <input [(ngModel)] = "password" name = "password" required type = "password" matInput placeholder="Digite su nueva contraseña">
                          <mat-hint>Escoge una contraseña que recuerdes</mat-hint>
                        </mat-form-field>

                        <mat-form-field class = "full-width"  appearance = "outline">
                            <input [(ngModel)] = "confirmPassword" name = "confirmPassword" required type = "password" matInput placeholder="Confirma tu contraseña">
                            <mat-hint>Confirma la contraseña</mat-hint>
                          </mat-form-field>

                          <mat-form-field class = "full-width"  appearance = "outline">
                            <mat-label> Ingresa el token que se envio a tu correo</mat-label>
                            <input [(ngModel)] = "tokenPassword" name = "token" required  matInput placeholder="Digita el token">
                            <mat-hint>Escribe el token</mat-hint>
                          </mat-form-field>
            
                        <br><br>
            
                        <div class = "container text-center">
                          <button type = "submit" mat-raised-button color="primary">Recuperar cuenta</button>
                        </div>
                      </form>

                </mat-card>
            </div>
       </div>
    </div>
</div>