<div class = "bootstrap-wrapper">
    <div class = "container" style="overflow:auto;">
      <div class = "row" style = "margin-top : 30px;">
        <div>
          <div class="container text-center" class = "col-md-6 offset-md-3">
            <h1 class="container text-center">Adicionar Nota</h1>
        </div>

           <!-- Aqui configuramos el Schedule object que son las sesiones -->
                <ejs-schedule 
                #scheduleObj
                width='100%' height='450px' 
                startHour='09:00' endHour='21:00'
                [minDate]='minDate' [maxDate]='maxDate'
                [workDays]='workWeekDays'
                [showWeekend]="showWeekend" 
                [selectedDate]='selectedDate' 
                [views]='views' [eventSettings]='eventSettings' 
                [showQuickInfo]='showQuickInfo' 
                (popupOpen)='onPopupOpen($event)' 
                (actionBegin)="onActionBegin($event)">

                <ng-template #editorTemplate>
                    <table class="custom-event-editor" width="100%" cellpadding="1" height='50px'>
                        <tbody>
                            <br>
                            <br>
                            <tr>
                                <td class="e-textlabel">Titulo</td>
                                <td colspan="4">
                                    <input id="titulo"  class="e-field e-input" type="text" value="" name="titulo" style="width: 100%" />
                                </td>
                            </tr>
                            <br>
                            <tr>
                                <td class="e-textlabel">Nota</td>
                                <td>
                                    <textarea id="nota" class="e-field e-input" colspan="2" name="nota" rows="2" cols="20" style="width: 100%; height: 60px !important; resize: vertical"></textarea>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </ng-template>
                </ejs-schedule>

            </div>
        </div>
    </div>
</div>



