<button class="btn btn-primary" (click)="imprimir()">imprimir</button>


<ejs-schedule 
#scheduleObj
width='100%' height='550px' 
[selectedDate]='selectedDate' 
[views]='views' [eventSettings]='eventSettings' 
[showQuickInfo]='showQuickInfo' 
timezone="UTC"
(popupOpen)="onPopupOpen($event)"
(actionBegin)="onActionBegin($event)"


>
  <ng-template #editorTemplate>
      <table class="custom-event-editor" width="100%" cellpadding="5">
          <tbody>
              <tr>
                  <td class="e-textlabel">Titulo</td>
                  <td colspan="4">
                      <input id="titulo"  class="e-field e-input" type="text" value="" name="titulo" style="width: 100%" />
                  </td>
              </tr>
              <tr>
                  <td class="e-textlabel">Nota</td>
                  <td colspan="4">
                      <textarea id="nota" class="e-field e-input" name="nota" rows="3" cols="50" style="width: 100%; height: 60px !important; resize: vertical"></textarea>
                  </td>
              </tr>
          </tbody>
      </table>
  </ng-template>
  </ejs-schedule>


