<div class = "bootstrap-wrapper">
    <div class = "container" style="overflow:auto;">
      <div class = "row" style = "margin-top : 30px;">
        <div>
          <div class="container text-center" class = "col-md-6 offset-md-3">
            <h1 class="container text-center">Selecciona la Parte del Cuerpo</h1>
            <!-- Aqui configuramos el dropdownList la lista de pacientes-->
          </div>
          <div class="container text-center">
            <button type="button" class="button" (click)="parteCuerpo('superior')"> 
                <img src="../../../../assets/icons/superior.png" height ="60%" width="60%" />
                <h2 class="h2">Tren Superior</h2>
            </button>
        
            <button type="button" class="button" (click)="parteCuerpo('inferior')"> 
                <img src="../../../../assets/icons/inferior.png" height ="60%" width="60%" />
                <h2 class="h2">Tren Inferior</h2>
            </button>

            
          </div>
          </div>
        </div>
    </div>
</div>



