<div>
    <div>
        <ejs-dropdownlist
              #dropdownlistaPacientes
              [dataSource]="pacientes"
              [fields]="dataFields"
              placeholder="Selecciona a un paciente"
              [ignoreAccent]="true"
              allowFiltering="true"
              [filterType]="dropdownListFilterType"
              filterBarPlaceholder='busca el usuario del paciente'
              >
              <ng-template #itemTemplate let-pacientes>
                <div>
                  <span class="username">{{pacientes.username}}</span>
                  <span class="nombres">{{pacientes.nombres}}&nbsp;</span>
                  <span class="apellidos">{{pacientes.apellidos}}</span>
                </div>
              </ng-template>
              <ng-template #headerTemplate let-pacientes>
                <!--set the value to headerTemplate property-->
                <span class='head'>
                  <span class="username">username</span>
                  <span class="nombres">nombres</span>
                  <span class="apellidos">apellidos</span>
                </span>
              </ng-template>
            </ejs-dropdownlist>
            <br><br>



    </div>



    <ejs-schedule 
    #scheduleObj
    width='100%' height='550px' 
    [selectedDate]='selectedDate' 
    [views]='views' [eventSettings]='eventSettings' 
    [showQuickInfo]='showQuickInfo' 
    (popupOpen)='onPopupOpen($event)'
    timezone="UTC"
    (actionBegin)="onActionBegin($event)">

      <ng-template #editorTemplate>
          <table class="custom-event-editor" width="100%" cellpadding="5">
              <tbody>
                  <tr>
                      <td class="e-textlabel">Summary</td>
                      <td colspan="4">
                          <input id="Subject" [(ngModel)] = "sesion.titulo" class="e-field e-input" type="text" value="" name="Subject" style="width: 100%" />
                      </td>
                  </tr>
                  <tr>
                      <td class="e-textlabel">From</td>
                      <td colspan="4">
                          <input id="StartTime" [(ngModel)] = "sesion.start" useValueAsDate class="e-field" type="text" name="StartTime" />
                      </td>
                  </tr>
                  <tr>
                      <td class="e-textlabel">To</td>
                      <td colspan="4">
                          <input id="EndTime" [(ngModel)] = "sesion.from" class="e-field" type="text" name="EndTime" />
                      </td>
                  </tr>
                  <tr>
                      <td class="e-textlabel">Reason</td>
                      <td colspan="4">
                          <textarea id="Description" [(ngModel)] = "sesion.descripcion" class="e-field e-input" name="Description" rows="3" cols="50" style="width: 100%; height: 60px !important; resize: vertical"></textarea>
                      </td>
                  </tr>
              </tbody>
          </table>
      </ng-template>
      </ejs-schedule>





      
      <br>
      <br>
      <ejs-schedule width='100%' height='550px' 
      [selectedDate]='selectedDate2' 
      [views]='views2' [eventSettings]='eventSettings2'
      (actionBegin)="onActionBegin2($event)"></ejs-schedule>

</div>