<mat-card>
    <h1>Detalles del perfil</h1>
    <mat-card-content>
        <div class="bootstrap-wrapper">
            <div class="container">
                <div class="text-center">
                    <img src="../../../assets/icons/usuario.png" 
                    alt=""
                    class="profile-image">
                    <h1 class="mt20"> {{user.nombres}} {{user.apellidos}}</h1>
                </div>
                <br>
                <br>


        <div class = "row">
          <div class = "col-md-10 offset-md-1">
            <table class = "table text-center" cellspacing="0">
              <tr>
                <th>Nombre de usuario</th>
                <td>{{user.username}}</td>
              </tr>
              <tr>
                <th>Correo</th>
                <td>{{user.correo}}</td>
              </tr>
              <tr>
                <th>Fecha de Nacimiento</th>
                <td>{{user.fechaNac}}</td>
              </tr>
              <tr>
                <th>Rol</th>
                <td>{{user.authorities[0].authority}}</td>
              </tr>
            </table>
          </div>
        </div>


        </div>
    </div>
    </mat-card-content>
</mat-card>