<mat-card>
    <h1>Detalles del perfil</h1>
    <mat-card-content>
        <div class="bootstrap-wrapper">
            <div class="container">
                <div class="text-center">
                    <img src="https://www.unmc.edu/cihc/_images/faculty/default.jpg" 
                    alt=""
                    class="profile-image">
                    <h1 class="mt20"> {{user.nombres}} {{user.apellidos}}</h1>
                </div>

        <div class = "row">
          <div class = "col-md-10 offset-md-1">
            <table class = "table text-center" cellspacing="0">
              <tr>
                <th>Nombre de usuario</th>
                <td>{{user.username}}</td>
              </tr>
              <tr>
                <th>Correo</th>
                <td>{{user.correo}}</td>
              </tr>
              <tr>
                <th>Fecha de Nacimiento</th>
                <td>{{user.fechaNac}}</td>
              </tr>
              <tr>
                <th>Rol</th>
                <td>{{user.authorities[0].authority}}</td>
              </tr>
            </table>
          </div>
        </div>


        </div>
    </div>
    <mat-card-actions class = "text-center">
        <button mat-raised-button color = "primary">Cambiar contraseña</button><br><br>
        <button mat-raised-button color = "accent">Crear nuevo administrador</button>
      </mat-card-actions>
    </mat-card-content>
</mat-card>