<div class = "bootstrap-wrapper">
    <div class = "container" style="overflow:auto;">
      <div class = "row" style = "margin-top : 30px;">
        <div class="container text-center">
          <div class = "col-md-6 offset-md-3">
            <h1 class="container text-center">Asignar ejercicios</h1>
            <!-- Aqui configuramos el dropdownList la lista de pacientes-->
                <ejs-dropdownlist
                #dropdownlistaPacientes
                [dataSource]="pacientes"
                [fields]="dataFields1"
                placeholder="Selecciona a un paciente"
                [ignoreAccent]="true"
                allowFiltering="true"
                [filterType]="dropdownListFilterType"
                (change)="pacienteChange()"
                filterBarPlaceholder='busca al paciente mediante su usuario'
                >
                <ng-template #itemTemplate let-pacientes>
                    <div>
                    <span style="float: left; width: 120px; " class="username">{{pacientes.username}}&nbsp;&nbsp;</span>
                    <span class="nombres">{{pacientes.nombres}}&nbsp;&nbsp;</span>
                    <span class="apellidos">{{pacientes.apellidos}}</span>
                    </div>
                </ng-template>
                <ng-template #headerTemplate let-pacientes>
                    <!--set the value to headerTemplate property-->
                    <span class='head'>
                    <span style="float: left; width: 120px; justify-content: center; display: flex; " class="username"><b>Username&nbsp;&nbsp;&nbsp;</b></span>
                    <span style="justify-content: center; display: flex; " class="nombres"><b>Nombres&nbsp;&nbsp;Apellidos</b></span>
                    </span>
                </ng-template>
                </ejs-dropdownlist><br><br>



                <h1 class="container text-center">Selecciona un lesion</h1>
                <!-- Aqui configuramos el dropdownList de lesiones-->
                <ejs-dropdownlist 
                    #dropdownlistaLesiones 
                    [dataSource]="lesiones"
                    [fields]="dataFields2" 
                    placeholder="Selecciona la lesion asignada">
                    </ejs-dropdownlist><br><br>
            


          </div>
             <!-- Configurando el dropdown de ejercicios -->
            <div class="container text-center" class = "col-md-6 offset-md-3">
                <h1 class="container text-center">Selecciona los ejercicios</h1>
                    <ejs-multiselect 
                    #dropdownlistaEjercicios
                    [dataSource]="ejercicios" 
                    [fields]="dataFields"
                    placeholder="Select a name"
                    >
                        <ng-template #itemTemplate let-data>
                            <div>
                                <span>
                                <img class="ejerImage" style="width: 20%; height: 20%"[src]='data.linkImagenFinal' alt="ejercicioimagen"/>
                                </span>
                                <span class="ename" >{{data.nombre}}</span>
                
                            </div>
                        </ng-template>
                        <ng-template #headerTemplate>
                            <div class = "header">
                                <span>Imagen</span>
                                <span class = 'info'>&nbsp;&nbsp;Nombre de ejercicio</span>
                            </div>

                        </ng-template>
                
                    </ejs-multiselect>

                </div>
                <br>
                <br>
                
                <button 
                class="btn btn-primary" 
                (click)="obtenerEjercicios()">SIGUIENTE</button>
    
            </div>
        </div>
    </div>
</div>

<br>